.body
{
    font-family: 'Lato', sans-serif;
}

.logo-zut
{
    width: 360px;
}

.footer
{
    border-top: 1px solid rgb(180, 180, 180);
}

.container-info
{
    text-align: center;
}

.logo-wi
{
    width: 275px;
}

#login-title, #student-title, #teacher-title, #student-exam-code-title
{
    color: rgb(38, 58, 173);
}

#student-exam-code-title
{
    font-weight: bold;
}

.login-box, .student-box, .teacher-box
{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#login-inputs, #pass-inputs, #exam-code-input
{
    font-size: 25px;
    padding: 10px 5px;
    margin: 10px auto;
    border: 3px solid rgb(143, 188, 238);
    border-radius: 5px;
}

#exam-code-input
{
    border: 1px solid rgb(220, 236, 255);
    border-radius: 0;
}

#login-submit, #go-back, #exam-code-submit
{
    background-color: #1ba120;
    color: white;
    font-size: 22px;
    padding: 10px 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    transition: 0.3s transform linear;
}

#go-back, #exam-code-submit
{
    background-color: rgb(143, 188, 238);
    font-weight: bold;
}

#login-submit:hover, #go-back:hover, #exam-code-submit:hover
{
    background-color: #098000;
    transform: scale(1.1);
    transition: 0.3s transform linear;
}

#go-back:hover, #exam-code-submit:hover
{
    background-color: rgb(116, 163, 218);
}
  
.side-bar
{
    background-color: rgb(46, 47, 128);
    padding: 15px 10px;
    text-align: center;
    box-sizing: border-box;
}
  
.name-box
{
    background-color: rgb(124, 151, 211);
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    box-sizing: border-box;
}
  
.student-panel, .teacher-panel
{
    border: 1px solid rgb(143, 188, 238);
}

.student-form-box, .teacher-form-box, .student-exam-code-panel
{
    background-color: #edf1f8;
}

.student-btns, .teacher-btns
{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(38, 58, 173);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.3s transform linear;
}

.student-btns:hover, .teacher-btns:hover
{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s transform linear;
}

.panel-icons
{
    font-size: 70px;
}

.threshold-pool-table-box
{
    /* background-color: #eaf2fa; */
    background-color:white !important;
    border: solid 2px rgb(143, 188, 238);
    /* width: 600px;
    height: 50px; */
}

.threshold-pool-table-head
{
    background-color: #7C9BCD !important;
    border: solid 1px rgb(124, 155, 205);
    color: white;
	text-align: center;
}

.threshold-pool-table-element
{
    background-color: #edf1f8 !important;
    border: solid 1px rgb(143, 188, 238);
    margin: 3px;
	font-size:20px;		   
    font-weight: bold;
	text-align: center;
    color: rgb(46, 47, 128);
}

.table-spacing, .table-spacing2{
    border-collapse: separate;
    border-spacing: 20px;
    overflow: scroll !important;
}

.table-spacing2{
    border-spacing: 5px;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(216, 216, 216, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}


#threshold-center{
    margin: 0 auto;
}

.filters{
    text-align: center;
    margin: 10px;
}

#filters-button{
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    /* border: none; */
    transition: 0.3s transform linear;
    margin: 3px auto;
    /* width: 600px;
    height: 50px; */
    font-size: 16px;
    color: rgb(143, 188, 238);
}

.filters-text, .filters-text-main{
    font-weight: bold;
    font-size: 16px;
    color: rgb(46, 47, 128);
}

.filters-text-main{
    font-size: 18px;
    color: rgb(46, 47, 128);
}

.white-box
{
    background-color: white;
    border: solid 0.5px rgb(213, 223, 239);
    /* height: 570px; */
}
.test-title-box
{
    /* width: 95%; */
    margin: 5px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: rgb(38, 58, 173);
    font-weight: bold;
    font-size: 17px;
    box-sizing: border-box;

}

.test-title-number
{
    /* width: 95%; */
    margin: 5px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color:  rgb(117, 141, 207);
    font-weight: bold;
    font-size: 17px;
    box-sizing: border-box;

}

.tresc-pytania, .detail-title
{
    text-align: center;
    font-size:20px;
    background-color: white;
    border: solid 2px rgb(195, 209, 233);
    margin: 30px auto;
    color: rgb(196, 197, 202);
    padding: 10px;
    align-items: center;
}

.detail-title
{
    color:rgb(38, 58, 173);
    font-weight: bold;
}

.tresc-odp
{
    text-align: center;
    font-size:20px;
    background-color: white;
    border: solid 2px rgb(195, 209, 233);
    color: rgb(196, 197, 202);
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 10px;
}

.border-odp
{
    border: solid 2px rgb(195, 209, 233);
    padding: 20px;

}

.abc
{
    color: rgb(38, 58, 173);
    font-size:28px;
    /* margin-left: 20px; */
}

.blok-odpowiedzi
{
    /* margin-left: 80px;
    margin-right: 80px; */
    margin: 0 50px;
    border: solid 2px rgb(195, 209, 233);
    padding-top: 10px;
    
}

.buttons-filters
{
    background-color: #ffffff !important;
    color: white;
    border: none;
    padding: 3px;
    margin: 3px;
}

#nazwaProgu
{
    text-align: center;
    font-size:20px;
    background-color: white;
    border: solid 2px rgb(195, 209, 233);
    margin: 10px auto;
    color: rgb(195, 209, 233);
}


.dark-blue-txt{
    color: #333D83;
}

.grey-blue-back{
    background-color:#7C9BCD !important;
    color: white !important;
}

.grey-back{
    background-color:#EDF1F8;
    color: darkblue;
}

.submit-btn{
    background-color:#333D83;
    color: #E6E6E6;
    font-weight: bold;
    border: none;
    margin: 15px;
}

.name{
    margin: 20px;
}

.white-space{
    background-color: white;
    padding: 20px;
}

.txt-center{
    text-align: center;
}

.red-text{
    color: red;
}

.maxPkt{
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 10px;
    color: rgb(38, 58, 173);
}


.table-buttons
{
    background-color: #ffffff !important;
    border: none;
    font-size: 20px;
    color: #7C9BCD !important;
}

.center
{
    margin: auto;
}

.timer
{
    color: #ffffff;
    font-size: 20px;
}